:root {
  --dinosaur-height: clamp(180px, 15vw, 336px);
}


.dinosaur {
  background-color: var(--dinosaur-green);
  /* -webkit-mask: url(/img/dinosaur_1.svg) no-repeat center;
  mask: url(/img/dinosaur_1.svg) no-repeat center; */
  -webkit-mask-size: contain;
  mask-size: contain;
  mask-repeat: no-repeat;

  
  height: var(--dinosaur-height);
  aspect-ratio: calc(310 / 336);

  /* animation-name: dinosaur_walk;
  animation-duration: 2s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-timing-function: steps(2);
  animation-fill-mode: forwards; */

  animation: dinosaur_walk 0.5s steps(2) infinite;
}

.dinosaur-position {
  @apply absolute bottom-1/2 left-0 z-0;

  --translate-x: calc(var(--dinosaur-height) * -1);
  --translate-y: calc(10%);

  transform: translate(var(--translate-x), var(--translate-y));
}


@keyframes dinosaur_walk {
  0% {
    -webkit-mask-image: url(/img/dinosaur_1.svg);
    mask-image: url(/img/dinosaur_1.svg);
    transform: translateX(0);
  }
  50% {
    -webkit-mask-image: url(/img/dinosaur_1.svg);
    mask-image: url(/img/dinosaur_1.svg);
  }
  51% {
    -webkit-mask-image: url(/img/dinosaur_2.svg);
    mask-image: url(/img/dinosaur_2.svg);
  }
  100% {
    -webkit-mask-image: url(/img/dinosaur_2.svg);
    mask-image: url(/img/dinosaur_2.svg);
    transform: translateX(50px);
  }
}