.hi-Iam-su {
  background-image: url("/img/hi_Iam_su.svg");
  background-size: contain;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--highlight-green);
  font-size: clamp(20px, calc(1vw + 14px), 40px);
  width: clamp(200px, calc(15vw + 100px), 400px);
  aspect-ratio: calc(283/68);
}