.personal-summary-block {
  width: clamp(400px, 70%, 960px)
}

.personal-list > li {
  display: flex;
  align-items: first baseline;
}

.personal-list > li:before {
  @apply bg-highlight-green;

  content: '';
  display: block;
  flex: 0 0 15px;
  /* flex-basis: 15px; */
  height: 15px;
  margin-right: 24px;
}



.water-ripple {
  position: relative;
}

.water-ripple .wr-center {
  position: relative;
  width: 20vw;
  height: 20vw;
  background: linear-gradient(90deg, rgba(27, 152, 94, 0.75) -5.66%, rgba(105, 231, 168, 0.5) 107.92%);
  box-shadow: 0px 4px 60px rgba(135, 255, 195, 0.2);
  border-radius: 100%;
  z-index: 2;
}

.water-ripple .wr-ring {
  --bg-color: rgba(27, 152, 94, 0.75);

  position: absolute;
  z-index: 1;
  width: calc(20vw + var(--wr-distend));
  height: calc(20vw + var(--wr-distend));
  left: calc(var(--wr-distend) / 2 * -1);
  top: calc(var(--wr-distend) / 2 * -1);
  border-width: 16px;
  border-radius: 100%;
  border-color: var(--bg-color);
  opacity: var(--wr-opacity);
}

.wr-element {
  --wr-range: 20px;
  --wr-delay: 0s;
  --wr-duration: .3s;
  --wr-scale: 1;

  transition: transform .3s;
  transition-delay: var(--wr-delay);
  transition-duration: var(--wr-duration);
  transform: scale(var(--wr-scale)) translate(var(--swing-x), var(--swing-y));
}

.water-ripple.swing-to-right .wr-element {
  --swing-x: var(--wr-range);
}
.water-ripple.swing-to-left .wr-element {
  --swing-x: calc(var(--wr-range) * -1);
}
.water-ripple.swing-to-bottom .wr-element {
  --swing-y: var(--wr-range);
}
.water-ripple.swing-to-top .wr-element {
  --swing-y: calc(var(--wr-range) * -1);
}

.water-ripple.wr-popple .wr-element {
  --wr-scale: 1.1;
}

.water-ripple .wr-ring.wr-ring-1 {
  --wr-distend: 100px;
  --wr-opacity: .7;
  --wr-duration: .4s;
}
.water-ripple .wr-ring.wr-ring-2 {
  --wr-distend: 200px;
  --wr-opacity: .5;
  --wr-duration: .5s;
}
.water-ripple .wr-ring.wr-ring-3 {
  --wr-distend: 300px;
  --wr-opacity: .25;
  --wr-duration: .6s;
}
.water-ripple .wr-ring.wr-ring-4 {
  --wr-distend: 400px;
  --wr-opacity: .2;
  --wr-duration: .7s;
}
.water-ripple .wr-ring.wr-ring-5 {
  --wr-distend: 500px;
  --wr-opacity: .15;
  --wr-duration: .8s;
}

