/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: retro-computer;
  src: url("/retro_computer_personal_use.ttf");
}

html, body {
  background-color: #000;
  color: #fff;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

@layer base {
  :root {
    --dinosaur-green: rgb(26, 143, 81);
    --highlight-green: rgb(43, 209, 130);
  }
}


.btn {
  @apply font-retroComputer;

  display: inline-flex;
  width: 224px;
  height: 67px;
  color: var(--highlight-green);
  border: 5px solid #1A8F51;
  white-space: nowrap;
  box-shadow: 0px 0px 50px rgba(43, 209, 130, 0.4);
  justify-content: center;
  align-items: center;
}

.github-logo {
  -webkit-mask-image: url(/icons/github.svg);
  mask-image: url(/icons/github.svg);
  background-color: var(--dinosaur-green);
  background-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.mail-logo {
  -webkit-mask-image: url(/icons/mail.svg);
  mask-image: url(/icons/mail.svg);
  background-color: var(--dinosaur-green);
  background-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.npm-logo {
  -webkit-mask-image: url(/icons/npm.svg);
  mask-image: url(/icons/npm.svg);
  background-color: var(--dinosaur-green);
  background-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.cv-logo {
  -webkit-mask-image: url(/icons/user_cv.svg);
  mask-image: url(/icons/user_cv.svg);
  background-color: var(--dinosaur-green);
  background-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}