/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: retro-computer;
  src: url("/retro_computer_personal_use.ttf");
}

html, body {
  background-color: #000;
  color: #fff;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}


@layer base {
  :root {
    --dinosaur-green: rgb(26, 143, 81);
    --highlight-green: rgb(43, 209, 130);
  }
}